{% extends "base.html" %}

{% block title %}Trip Reservation{% endblock %}

{% block content %}
    <h1>Admin</h1>
<!--    <form method="POST" action="/">
        <label>Menu Option:</label>
        <select name="menu_option" required>
            <option disabled selected>Choose An Option</option>
            <option value="admin">Admin Login</option>
            <option value="reserve">Reserve Seat</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
    </form>-->
{% endblock %}