<!DOCTYPE html>
<html>
<head>
    <title>Stock Data Visualization</title>
</head>
<body>
    <h1>Stock Data Visualization</h1>
    <form method="POST" action="/">
    <label>Stock Symbol:</label>
    <select name="stock_symbol" required>
        <option disabled selected>Select a stock</option>
        {% for symbol in valid_symbols %}
            <option value="{{ symbol }}">{{ symbol }}</option>
        {% endfor %}
</select>
    <br><br>
        
        <br><br>
        <label for="chart_type">Chart Type:</label>
        <select id="chart_type" name="chart_type">
            <option value="1">Bar</option>
            <option value="2">Line</option>
        </select>
        <br><br>
        <label for="time_series">Time Series:</label>
        <select id="time_series" name="time_series">
            <option value="1">Intraday</option>
            <option value="2">Daily</option>
            <option value="3">Weekly</option>
            <option value="4">Monthly</option>
        </select>
        <br><br>
        <label for="beginning_date">Beginning Date:</label>
        <input type="date" id="beginning_date" name="beginning_date" required>
        <br><br>
        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date" required>
        <br><br>
        <input type="submit" value="Visualize">
    </form>

    {% if chart %}
        <h2>Chart</h2>
        {{ chart|safe }}
    {% endif %}
</body>