{% extends "base.html" %}

{% block content %}
    <h1>{% block title %}All Reservations {% endblock %}</h1>
    
    {% for reservation in reservations %}
        <div class="post">
            <p><strong>Reservation: </strong> {{ reservation['passengerName'] }}, <strong>Seat Row: </strong>{{ reservation['seatRow'] }}, 
                <strong>Seat Column: </strong>{{ reservation['seatColumn'] }}, <strong>ETicket Number: </strong>{{ reservation['eTicketNumber'] }}</p>
            
            
        </div>
    {% endfor %}

{% endblock %}