{% extends "base.html" %}

{% block content %}
    <h1>{% block title %}All Reservations {% endblock %}</h1>
    
    {% for reservation in reservations %}
        <div class="post">
            <p><strong>Reservation ID: </strong> {{ reservation['passengerName'] }}</p>
            <p><strong>Customer Name: </strong> {{ reservation['seatRow'] }}</p>
            <p><strong>Working Area: </strong> {{ reservation['seatColumn']}}</p>
            <p><strong>Phone: </strong> {{ reservation['eTicketNumber']}}</p>
            
        </div>
    {% endfor %}

{% endblock %}